<h2>ADD A NEW CELEBRITY</h2>
<a href ="/">HOME</a>

<form action="/celebrities/create" method="POST">
    <label for="name">NAME</label>
    <input type="text" name="name"/>

        <label for="occupation">Occupation</label>
    <input type="text" name="occupation"/>
    
     <label for="catchPhrase">Catch Phrase</label>
    <input type="text" name="catchPhrase"/>

    <button type="submit">Create a new Celebrity</button>
</form>
